/* Très petits écrans (smartphones, moins de 768px) */
main{
  border:0.5px solid black;
}

header{
  height: 400px;
  position: flex;
}

header img, footer section img{
  height: 30px;
  width: 30px;
}

.navUser{
  display: none;
}

header h1{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 25px;
  position: flex;
  top:70px;
}

header span{
  color:red;
  font-weight: bold;
}

.recherche{
  display: none;
}

.formMobile{
  width: 100%;
  position: flex;
  bottom:120px;
  left:10px;

}

.formMobile ul, .formMobile ul li{
  display: inline-flex;
  border: 1px solid black;
}

li{
  text-align: center;
}

.formMobile ul{
  width: 96%;
  height: 20px;
  position: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0;
}

.formMobile ul li{
  position: flex;
  flex-flow: row nowrap;
  width: 20%;
  height: 20px;
  font-size: 1.2em;
  text-align: center;
}


.navNavigation{
  position: flex;
  bottom:20px;
  list-style-type: none;
  border-bottom:1px solid black;
  width: 100%;
}

header nav ul li a{
  text-decoration: none;
}

.navNavigation ul{
  border: 1px solid black;
  padding: 0;
}

.navNavigation ul li{
  border: 1px solid black;
  width: 20%;
  margin: 10px auto;
  display: inline-block;
  font-size: 16px;
  color:grey;
}

.reservation #reserve3,#reserve4,#reserve5 {
  display: none;
}

/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) {
  form input{
    width: 30%;
    display: inline-block;
  }
}

/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) {


}
