/* Très petits écrans (smartphones, moins de 768px) */
*{
  border:0.5px solid black;
}

header img, footer section img{
  height: 30px;
  width: 30px;
}

.navUser{
  display: none;
}

header h1{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

header span{
  color:red;
  font-weight: bold;
}

header form input{
  width: 30%;
  display: inline-block;
}

header form label{
  display: none;
}

/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) {

}

/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) {


}
