/* Très petits écrans (smartphones, moins de 768px) */

/***************Header************/

header{
  position: relative;
  height: 400px;
}

a{
  text-decoration: none;
}

header img, footer section img{
  height: 30px;
  width: 30px;
}

.navUser{
  display: none;
}

header h1{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 25px;
  position: absolute;
  top:70px;
}

header span{
  color:red;
  font-weight: bold;
}

.recherche{
  display: none;
}

/**********DEBUT FORMMOBILE*********/

.formMobile{
  display: flex;
  bottom:120px;
  height: 60px;
  width: 90%;
  margin-left:5%;
  align-items: center;
  position: absolute;
  list-style-type: circle;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 0.1px grey;
}

.formMobile ul, .formMobile ul li{
  display: flex;
}

.formMobile ul li p{
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;

}

.formMobile ul{
  width: 80%;
  height: 50px;
  display: flex;
  padding: 0;
}

.formMobile ul li{
  display: flex;
  width: 30%;
  height: 40px;
}

/*********Fin formMobile************/


/*********navNavigation************/

.navNavigation{
  position: absolute;
  bottom:30px;
  width: 100%;
  height: 50px;
  bottom: 30px;
}

.navNavigation div{
  bottom:30px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: space-around;
  flex-flow: row nowrap;
  border-bottom: 2px solid black;
  margin:auto 0 auto 0;
}

.navNavigation a{
  margin: 0 1.5% 0 1.5%;
  text-align: center;
  align-self: center;
  font-size: 1.1em;
  font-family: sans-serif;
}

/*********Fin navNavigation************/

/********FIN HEADER*************/


/*********Debut MAIN*************/

.tablette, .ordinateur{
  display: none;
}

main{
  font-family: sans-serif;
}

main p{
  font-weight: lighter;
}

main li{
  list-style-type: none;
}

h1, h2, h3{
  margin-left:20px;
}

main section{
  margin-bottom: 50px;
}

#reserve3, #reserve4, #reserve5, #experience3, #experience4,
#experience5, #logement3, #destination4, #destination5{
  display: none;
}

.reservation ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin:0;
  padding: 0;
}

#reserve1{
  margin-left: 20px;
}

.reservation ul li, .experience ul li{
  margin:0;
  padding: 0;
}

.reservation img, .experience img{
  width: 90%;
  height: 90%;
}


.experience ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin:0;
  padding: 0;
}

#experience1{
  margin-left: 20px;
}

.logement ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin:0;
  padding: 0;
}

.logement img{
  width: 90%;
  height: 90%:
}

#logement1{
  margin-left: 10px;
}

.DestinationUne ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin:0;
  padding: 0;
}

.DestinationUne img{
  width: 90%;
  height: 90%;
}

.estimationRevenu img{
  width: 100%;
  height: 30%;
}

/**********FIN Main*************/


/************FOOTER**************/

.lienAirbnb, .listDecouverte, .hebergement{
  display: none;
}

/************FIN FOOTER**********/


/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) {

  /*.formMobile{
    display: none;
  }
*/
  .recherche{

  }

  form input{
    width: 30%;
    display: inline-block;
  }
}

/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) {


}
